###
# server.conf.sample
###
# This is a sample configuration. It contains example values, as well as commentation to help explain
# all of the possible values that can be used.
#
# Please make a copy of this as 'server.conf' and change the values according to your setup.
###

## Server Type
# Name the type of web server (httpd) you are using here.
# Possible values:
# nginx
# (apache)
# (lighttpd)
nServerType="nginx"

## Hostname
# Please set this to the default hostname of your server.
# It is recommended to set it to the same hostname that is assigned to your server (ie: `cat /etc/hostname`)
# Your '/etc/hostname' should contain both the host and domain parts (ie: "my.domain.tld")
nServerHostname=`cat /etc/hostname`
